
/* parent container to hold all visible elements*/
.container  {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  border: 1px thin #FF6347;
  flex-direction: column;
}
/* class to format headings within the parent container */
#title {
  background-color: #FF6347;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  color: white;
}



span {
  align-self: center;
}
